body {
    background-color: white;
    background-image: url(image\ 10.jpg);
}
table{
    text-align: center;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}